<h2 class="d-view-title">{{ title }}</h2>
<textarea class="d-view-contents" disabled="disabled">
{{ contents }}
</textarea>
<aside>(double click to edit)</aside>
<input class="d-note-delete" type="button" value="X" />
