@import 'main-grid.scss';

.d-note-area {
  @extend .pure-g;
}

.d-note-view {
  @extend .pure-u-1;
  @extend .pure-u-md-1-2;
  @extend .pure-u-lg-1-4;
  @extend .pure-u-xl-1-5;
  @extend .pure-u-xxl-1-6;
}

.d-add-note {
  width: 100%;
  height: 2em;
}
