.d-note-view {
  position: relative;
  padding: 2px;

  .d-view-title {
    text-align: center;
    padding: 5px;
  }

  .d-view-contents,
  .d-view-title {
    cursor: pointer;
  }

  .d-view-contents,
  .d-edit-contents {
    width: 100%;
    height: 150px;
    font-size: 2em;
    border: 0;
    padding: 5px;
    text-shadow: rgba(0,0,0,.3) 1px 1px 3px;
    background-color: lightyellow;
  }

  .d-edit-contents {
    background-color: whitesmoke;
  }

  .d-input-group .d-note-action {
    float: left;
    width: 50%;
    height: 2em;
    margin: 5px 0;
  }

  .d-edit-title {
    width: 100%;
    font-size: 150%;
    text-align: center;
  }

  .d-note-delete {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    font-family: sans-serif;
    background-color: darkgray;
    border-radius: 5px;
    color: white;
    font-weight: bold;

    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  .d-add-note {
    width: 100%;
    height: 2em;
  }
}
