<div class="d-input-group">
  <input type="text" class="d-edit-title" value="{{ title }}" />
</div>
<textarea class="d-edit-contents">
{{ contents }}
</textarea>
<div class="d-input-group">
  <input class="d-note-action d-save-note" type="button" value="Save" />
  <input class="d-note-action d-cancel-save-note" type="button" value="Cancel" />
</div>
<input class="d-note-delete" type="button" value="X" />
