* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none outside none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 150%;
}

#demo-main {
  padding: 5px;
}

.d-page-title {
  height: 10%;
  font-style: italic;
  font-family: Verdana, sans-serif;
  background-color: orange;
  text-align: center;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.d-input-group label {
  display: block;
}

aside {
  color: gray;
}
